body {
    display: grid;
    gap: 10px;
    grid-template-rows: 4em 2em min-content 1fr 2em auto;
    grid-template-areas: 
        "header"
        "nav"
        "intro"
        "main"
        "aside"
        "footer";
}

header {
    grid-area: header;
    justify-self: center;
}

.nav-bar {
    grid-area: nav;
    justify-self: center;
}

.intro {
    grid-area: intro;
    justify-self: center;
}

main {
    grid-area: main;
    justify-self: center;
    
}

.side-bar {
    grid-area: aside;
    justify-self: center;
}

footer {
    grid-area: footer;
    justify-self: center;
}