body {
    display: grid;
    gap: 12px;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer";
}

header {
    grid-area: header;
    justify-self: center;
    display: grid;
}

.header-item {
    justify-self: center;
}

nav {
    grid-area: nav;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.nav-item {
    justify-self: center;
}

main {
    grid-area: main;
    justify-self: center;
    display: grid;
    
}

.introduction, .main-content {
    justify-self: center;
}

.main-content {
    display: grid;
}

aside {
    grid-area: aside;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.aside-item {
    justify-self: center;
}

footer {
    grid-area: footer;
    justify-self: center;
    display: grid;
}

.footer-item {
    justify-self: center;
}

@media (min-width: 768px) {
    body {
        gap: 20px;
    }
}

@media (min-width: 1024px) {
    body {
        grid-row-gap: 30px;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: min-content 1fr min-content;
        grid-column-gap: 120px;
        grid-template-areas: 
        "nav header aside"
        "nav main   aside"
        ".   footer .    "
    }

    nav {
        grid-template-rows: repeat(4, min-content);
        grid-template-columns: 150px;
    }

    aside {
        grid-template-rows: repeat(4, min-content);
        grid-template-columns: 150px;
    }
}