@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Ruda:wght@900&family=Russo+One&display=swap');

body {
  margin: 5px 0;
  width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  background-color: #222A59;
  color: #F2F2F2;
}

header, nav, aside, main, footer {
  width: 80%;
}

.introduction, .main-content {
  width: 100%;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  margin: 10px;
  font-size: 2.5em;
}

#text-title {
color: #9DC8C8;
text-decoration: underline #737373;
}

.text-color-grey {
color: #737373;
}

.text-color-red, .text-color-red-hover:hover {
color:#FF0012;
}

.text-color-orange-hover:hover {
color:#F06529;
}

.text-color-yellow, .text-color-yellow-hover:hover {
color:#F0DB4F;
}

.text-color-green-hover:hover {
color:#03A64A;
}

.text-color-blue, .text-color-blue-hover:hover {
color:#2965f1;
}

.text-color-indigo-hover:hover {
color:#03588C;
}

.text-color-purple-hover:hover {
color:#741BF2;
}

.text-color-coder-academy {
  color: #3c94b4;
}

#logo {
  width: 4em;
}

#copy-right {
font-size: 0.65em;
}

.nav-img {
  width: 40px;
  height: 40px;
}

.nav-img:hover {
  animation: headShake;
  animation-duration: 0.5s;
}

.content-video {
  width: 100%;
  padding-top: 16px;
  border-top: 2px solid #9DC8C8;
}

.content-text {
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 4px;
  border-bottom: 2px solid #9DC8C8;
}

.aside-img {
  width: 40px;
  height: 40px;
}

.aside-img:hover {
  animation: headShake;
  animation-duration: 0.5s;
}

#animation-tricks, .youtuber, #noe {
  color: #9DC8C8;
  text-decoration: none;
}

.video {
  width: 99%;
  border: 2px solid #737373;
}

#contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-component {
  margin-top: 20px;
  width: 90%;
  align-self: center;
}

.form-field {
  display: flex;
  justify-content: space-between;
}

.name-input {
  width: 45%;
  height: 1.5em;
  margin-top: 3px;
}
.long-input {
  width: 100%;
  height: 1.5em;
  margin-top: 3px;
}

.textarea-input{
  width: 100%;
  height: 10em;
  margin-top: 3px;
}

.form-button {
  display: flex;
  justify-content: center;
}

#send-button {
  color: #222A59;
  background-color: #737373;
  border: none;
  font-size: 1em;
  text-decoration: none;
  width: 8em;
  padding: 0.5em 0;
  text-align: center;
  margin-top: 15px;
}

#send-button:hover {
  background-color: #9DC8C8;
}

.blog-post {
  width: 100%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
  border: 2px solid #9DC8C8;
  border-right-style: none;
  border-left-style: none;
  margin-bottom: 4px;
}

figure {
  margin: 1em 0;
}

.blog-image {
  width: 99%;
  border: 2px solid #737373;
}

figcaption {
  font-size: 0.75em;
  font-style: italic;
}

.blog-title {
  /* align-self: center; */
  margin: 0 auto 25px auto;
}

.blog-link {
  text-decoration: none;
  color: #737373;
}

.text-align-center {
  text-align: center;
}

.vertical-line {
  width: 4%;
  background-color: #9DC8C8;
  margin: 0 auto;
}

@media (min-width: 768px) {
  body {
    font-size: 28px;
  }

  h1 {
    font-size: 4em;
  }

  #logo {
    width: 6em;
  }

  .nav-img {
    width: 65px;
    height: 65px;
  }

  .aside-img {
    width: 65px;
    height: 65px;
  }

  .name-input {
    height: 2em;
    margin-top: 5px;
  }
  .long-input {
    height: 2em;
    margin-top: 5px;
  }
  
  .textarea-input{
    height: 15em;
    margin-top: 5px;
  }
}

@media (min-width: 1024px) {
  header, nav, aside, main, footer {
    width: 100%;
  }

  .nav-img {
    width: 100px;
    height: 100px;
    padding: 20px 15px 15px 15px;
  }

  .aside-img {
    width: 100px;
    height: 100px;
    padding: 20px 15px 15px 15px;
  }

  #send-button {
    margin-top: 30px;
  }
}