html, body {
  margin: 0px;
  height: 100%;
  font-family: Verdana, sans-serif;;
  font-size: 16px;
  background-color: #222A59;
  color: #F2F2F2;
}

#top {
  background-color: #222A59;
}

.title {
color: #9DC8C8;
font-size: 4em;
margin-top: 1em;
text-decoration: underline #737373;
}

#web-dev {
color: #737373;
font-size: 3em;
margin: 0;
}

.web-dev-1:hover {
color:#FF0012;
}

.web-dev-2:hover {
color:#FF7D00;
}

.web-dev-3:hover {
color:#FFD900;
}

.web-dev-4:hover {
color:#03A64A;
}

.web-dev-5:hover {
color:#1788F2;
}

.web-dev-6:hover {
color:#03588C;
}

.web-dev-7:hover {
color:#741BF2;
}

.logo {
  width: 7em;
}

.copyright {
font-size: 10px;
margin: 0 0 0 6.4em;
}

.nav-img {
  margin: 8px 3px 8px 3px;
  width: 3.5em;
  height: 3.5em;
}

.nav-img:hover {
  animation: headShake;
  animation-duration: 0.5s;
}

.aside-img {
  margin: 6px 3px;
  width: 3.75em;
  height: 3.75em;
}

.aside-img:hover {
  animation: headShake;
  animation-duration: 0.5s;
}

.youtuber {
  color: #9DC8C8;
  text-decoration: none;
}

.portfolio-video {
  width: 250px; 
  margin: 2em 0;
  border: 2px solid #737373;
}

.header {
  margin: 1em 4em 0 4em;
}

.intro {
  margin: 0 4em;
}

#description1, #description2, #description3 {
  margin: 1em 6em 4em 0;
}

#uparrow {
  width: 100px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .logo {
    width: 4em;
    margin-right: 1em;
  }

  .header {
    margin: 1em 0;
  }

  .nav-img {
    margin: 2px 14px 1em 0;
    width: 2em;
    height: 2em;
  }

  .aside-img {
    margin: 6px 8px 6px 0;
    width: 2.5em;
    height: 2.5em;
  }

  .title {
    font-size: 3em;
    margin-top: 0;
  }

  .intro {
    margin: 0;
  }

  .portfolio-video {
    width: 250px; 
    margin: 0;
  }

  #description1, #description2, #description3 {
    margin: 0;
  }

  .copyright {
    font-size: 6px;
    margin: 3px 1em;
    }
}
